body {
    background:#FFF;
}
.list-group-item {
	border: none;
}
.traduction {
    font-size:0.8em;
    color:#666;
}
.btn-primary .traduction, .label-primary .traduction {
	color: #FFF;
}
pre {
	white-space: pre-wrap;
	word-break: normal;
}
pre.form-ro {
    font-family:inherit;
    background:#fff;
}
