<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
<form role="form" name="form.addSuivi">

	<p>
		<button class="btn btn-primary" ng-click="addSuivi()">Enregistrer</button>
	</p>
	<p>
		<div class="row">
		<div class="col-xs-9">
			<label>
				<span>Résumé</span>
			</label>
			<input class="form-control" type="text" ng-model="suivi.titre" required/>
		</div>
		<div class="col-xs-3">
			<label>
				<span>Date</span>
			</label>
			<input class="form-control" type="text" ng-model="suivi.date" uib-datepicker-popup="dd/MM/yyyy"  is-open="popup.opened" ng-required="true" ng-click="popup.opened=true"/>
		</div>
		</div>
		<label>
			<span>Note</span>
		</label>
		<ng-ckeditor ng-model="suivi.desc" ng-config="editorOptions"
			name="editor"
			ng-model="suivi.desc"></ng-ckeditor>
	</p>
</form>
</div>
