<div loading="'groups,users'" data="Data">
<div ng-if="Data.user.id==1">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3">
	<uib-tabset>
		<uib-tab heading="Utilisateurs" active='tabs.admin.users'>
			<p>&nbsp;</p>
			<p><a href="adduser" class="btn btn-primary">Nouvel utilisateur</a></p>
			<uib-pagination ng-show="usersOk.length>itemsParPage" boundary-links="true" total-items="usersOk.length" ng-model="page.users" items-per-page="itemsParPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
			<span ng-if="usersOk.length>itemsParPage" class="pagination-span">{{itemsParPage*(page.users-1)+1}} - {{min(itemsParPage*page.users,usersOk.length)}} de {{usersOk.length}}</span>
			<ul class="list-group" ng-show="Data.modele.users">
				<li ng-repeat="u in (usersOk=(Data.modele.users | toArray | orderBy:'name')) | startFrom:(page.users-1)*itemsParPage | limitTo:itemsParPage" class="list-group-item">
					<locked key="'user/'+u.id" data="Data">
					<a ng-if="u.id!=1" href="moduser/{{u.id}}">{{u.name}}</a>
					<a ng-if="u.id==1" href="moi">{{u.name}}</a>
					<button ng-if="u.id!=1" ng-confirm-click="delUser(u.id)" ng-confirm-message="Sûr ?" class='btn btn-default btn-xs pull-right'>x</button>
					</locked>
				</li>
			</ul>
		</uib-tab>
		<uib-tab heading="Groupes" active='tabs.admin.groups'>
			<p>&nbsp;</p>
			<p><a href="addgroup" class="btn btn-primary">Nouveau groupe</a></p>
			<uib-pagination ng-show="groupsOk.length>itemsParPage" boundary-links="true" total-items="groupsOk.length" ng-model="page.groups" items-per-page="itemsParPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
			<span ng-if="groupsOk.length>itemsParPage" class="pagination-span">{{itemsParPage*(page.groups-1)+1}} - {{min(itemsParPage*page.groups,groupsOk.length)}} de {{groupsOk.length}}</span>
			<ul class="list-group" ng-show="Data.modele.groups">
				<li ng-repeat="g in (groupsOk=(Data.modele.groups | toArray | orderBy:'nom')) | startFrom:(page.groups-1)*itemsParPage | limitTo:itemsParPage" class="list-group-item">
					<locked key="'group/'+g.id" data="Data">
					<a href="modgroup/{{g.id}}">{{g.nom}}</a>
					<button ng-confirm-click="delGroup(g.id)" ng-confirm-message="Sûr ?" class='btn btn-default btn-xs pull-right'>x</button>
					</locked>
				</li>
			</ul>
		</uib-tab>
		<uib-tab heading="Config" select="setVerrou()" deselect="delVerrou()" ng-if="Data.modele.config" active='tabs.admin.config'>
			<locked key="'config'" data="Data">
			<form novalidate>
			<p>&nbsp;</p>
			<button type="submit" ng-click="setConfig()" ng-disabled="pr=pristine('config')" class="btn btn-primary">
				Enregistrer
			</button>
			<p>&nbsp;</p>
			<uib-tabset>
				<uib-tab ng-repeat="(catName, cat) in Data.modele.config.config" heading="{{catName}}" active="tabs.admin['config/'+$index]">
					<ul class="list-group">
						<li ng-repeat="item in cat | toArray | orderBy:'num'" class="list-group-item" ng-if="!item.show || cat[item.show].value">
							<h4>{{item.label}}
								<button type="button" ng-click="item.value.push(Data.modele.config.base_config[catName][item.uuid].value[0])" class="btn btn-default pull-right" ng-if="item.type=='array'">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
								</button>
							</h4>
							<input class="form-control" type='email' ng-model="item.value" ng-if="item.type=='email'"/>
							<input class="form-control" type='number' ng-model-options="{debounce:250}" ng-model="item.value" ng-if="item.type=='integer'"/>
							<input class="form-control" type='password' ng-model="item.value" ng-if="item.type=='passwd'"/>
							<input class="form-control" type='text' ng-model="item.value" ng-if="item.type=='texte_court'"/>
							<textarea rows="15" class="form-control" ng-model="item.value" ng-if="item.type=='texte_long'" ng-allow-tab/></textarea>
							<label class="btn btn-primary" ng-model="item.value" ng-change="setConfig()" uib-btn-checkbox ng-if="item.type=='bool'">
								<span ng-if="item.value==1">ON</span><span ng-if="item.value==0">OFF</span>
							</label>
							<select class="form-control" ng-if="item.type=='liste'">
								<option ng-repeat="listItem in p.choices" value="{{listItem.value}}" ng-selected="listItem.value==item.value">
									{{listItem.label}}
								</option>
							</select>
							<ul ng-if="item.type=='array'">
								<li class="list-group-item" ng-repeat="exp in item.value track by $index">
									<h4>
										<span ng-repeat="p in (tabexp=(exp| toArray | orderBy:'num')) | limitTo:1">{{p.value}}</span>
									<small class="cursor" ng-click="show[catName+itemName+$index]=!show[catName+itemName+$index]" ng-if="!show[catName+itemName+$index]">voir</small>
									<small class="cursor" ng-click="show[catName+itemName+$index]=!show[catName+itemName+$index]" ng-if="show[catName+itemName+$index]">cacher</small></h4>
									<div class="array-btn cursor" ng-if="item.value.length>0">
										<span class="glyphicon glyphicon-trash" ng-confirm-click="item.value.splice($index,1)" ng-confirm-message="Sûr?"></span>
									</div>
									<ul class="list-group" ng-show="show[catName+itemName+$index]">
										<li class="list-group-item" ng-repeat="p in tabexp track by $index" ng-if="!p.show || exp[p.show].value">
											<h4>{{p.label}}</h4>
											<input class="form-control" type='email' ng-model="p.value" ng-if="p.type=='email'"/>
											<input class="form-control" type='number' ng-model="p.value" ng-if="p.type=='integer'"/>
											<input class="form-control" type='password' ng-model="p.value" ng-if="p.type=='passwd'"/>
											<input class="form-control" type='text' ng-model="p.value" ng-if="p.type=='texte_court'"/>
											<textarea rows="15" class="form-control" ng-model="p.value" ng-if="p.type=='texte_long'" ng-allow-tab/></textarea>
											<label class="btn btn-primary" ng-model="p.value" ng-change="setConfig()" uib-btn-checkbox ng-if="p.type=='bool'">
												<span ng-if="p.value==1">ON</span><span ng-if="p.value==0">OFF</span>
											</label>
											<select class="form-control" ng-if="p.type=='liste'" ng-model="p.value">
												<option ng-repeat="listItem in p.choices" value="{{listItem.value}}" ng-selected="listItem.value==p.value">
													{{listItem.label}}
												</option>
											</select>
										</li>
									</ul>
								</li>
							</ul>
						</li>
					</ul>
				</uib-tab>
			</uib-tabset>
			<button type="submit" ng-click="setConfig()" ng-disabled="pr" class="btn btn-primary">
				Enregistrer
			</button>
			<p>&nbsp;</p>
			</form>
			</locked>
		</uib-tab>
		<uib-tab heading="Historique" ng-if="Data.modele.log" active='tabs.admin.hist'>
			<uib-pagination ng-show="histOk.length>itemsParPage" boundary-links="true" total-items="histOk.length" ng-model="currentPage" items-per-page="itemsParPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
			<ul class="list-group">
				<li ng-repeat="l in (histOk=(Data.modele.log | orderBy:'date':true)) | startFrom:(currentPage-1)*itemsParPage | limitTo:itemsParPage" class="list-group-item">
					{{l.user.name}}, {{calendar(l.date)}}, {{l.params.data[0].action}} <span class="cursor" ng-click="u.show=1" ng-show="u.show!=1">+</span><span class="cursor" ng-click="u.show=0" ng-show="u.show==1">-</span><pre ng-show="u.show==1">{{dump(l.params)}}</pre>
				</li>
			</ul>
		</uib-tab>
	</div>
</div>
</div>
