<div class="modal-body">
	<div>
		<form>
			<p><input class="form-control autoFocus" placeholder="rechercher la structure" ng-model="query" ng-change="getPage(1)" /></p>
		</form>
	    <uib-pagination ng-if="Data.modele.etabs.total>0" boundary-links="true" total-items="Data.modele.etabs.total" ng-model="page.courante" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
	    <span ng-if="Data.modele.etabs.total>0" class="pagination-span">{{itemsParPage*(Data.modele.etabs.page-1)+1}} - {{min(itemsParPage*Data.modele.etabs.page,Data.modele.etabs.total)}} de {{Data.modele.etabs.total}}</span>
        <div ng-if="Data.modele.etabs.total==0">Aucun résultat</div>
        <ul ng-if="Data.modele.etabs.total>0" class="list-group" id="contacts-list" ng-class="{'loading':page.courante!=Data.modele.etabs.page}">
			<li class="list-group-item structure etab cursor" ng-repeat="cas in (c=(Data.modele.etabs.collection | toArray))" ng-click="assEtablissement(cas)" ng-class="{'cas-suivante':!(Data.modele.etabs.page==1 && $index==0 || c[$index-1].id_contact!=cas.id_contact)}">
                <ng-include src="'partials/inc/casquette_ligne.html'"></ng-include>					
			</li>
		</ul>
	</div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>

