<div>
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 chan" ng-repeat="u in channels | orderBy:'id'" ng-if="chatNav<=$index">
    <div  class="chat-scroll row" scroll-glue>
        <ul ng-if="Data.modele.chat.collection[u.id]" ng-click="setlus(u.id)">
            <li ng-repeat="m in Data.modele.chat.collection[u.id]" ng-class="{'right':m.id_from==Data.user.id,'nonlu':m.id_from!=Data.user.id && (!Data.modele.chat.lus[u.id] || m.creationdate>Data.modele.chat.lus[u.id])}">
                <div class="message">{{m.message}}</div>
                <div class="from mini moi" ng-if="m.id_from==Data.user.id">moi <span ng-click="modMessageMod(m)" class='glyphicon glyphicon-pencil cursor'></span></div>
                <div class="from mini" ng-if="m.id_from!=Data.user.id">{{Data.modele.users[m.id_from].name}}</div>
            </li>
        </ul>
    </div>
    <div class="chat-header col-xs-12">
        <h5 ng-class="{'online':Data.modele.logged.ids.indexOf(u.id)>=0 || u.id<0}">{{u.name.replace('#','')}}</h5>   
        <form ng-submit="sendMessage(u.id)">
            <input type="text" ng-model="newMessage[u.id]" class="form-control">
        </form>
    </div>
</div>
</div>
<div class="languette cursor">
    <span ng-click="toggleChat(50)" class="hidden-xs">
        <span>Chat<span ng-if="nonlus>0" class="vert"> <b>({{nonlus}})</b></span></span>
    </span>
    <span ng-click="toggleChat(90)" class="visible-xs">
        <span>Chat<span ng-if="nonlus>0" class="vert"> <b>({{nonlus}})</b></span></span>
    </span>
    
</div>
<div class="chatPrev cursor" ng-show="chatVisible && chatNav>0" ng-click="chatNavPrec()"><<</div>
<div class="chatSuiv cursor" ng-show="chatVisible && chatNav<channels.length-chatZoom" ng-click="chatNavSuiv()">>></div>

