<div>
	<div class="col-sm-6" loading="'envois'" data='Data'>
		<h1>Envois</h1>
		<uib-pagination boundary-links="true" total-items="Data.modele.envois.length" ng-model="pageCourante.envois" items-per-page="itemsParPage" max-size="maxSize"class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="envoi in (envois=(Data.modele.envois | toArray | orderBy:'date':true)) | startFrom:(pageCourante.envois-1)*itemsParPage | limitTo:itemsParPage">
				<a href="modenvoi/{{envoi.id}}">{{envoi.sujet}}</a> - {{calendar(envoi.date)}} par {{Data.modele.users[envoi.by].name}}
				<div class='bas-droite'><span class='mini bleu' ng-if="envoi.nbleft>0"><span ng-if="envoi.statut==0">en cours</span><span ng-if="envoi.statut==1">en pause</span>, reste {{envoi.nbleft}}</span><span class='mini vert' ng-if="envoi.nbleft==0">terminé</span></div>
			</li>
		</ul>
	</div>
	<div class="col-sm-6">
		<h1>Mails en erreur</h1>
		<p><span class="btn btn-primary" ng-if="Data.modele['imap'] && Data.modele['imap'].running!=1" ng-click="checkImap()">Vérifier les erreurs</span></p>		
		<p ng-if="Data.modele['imap'] && Data.modele['imap'].running==1">Vérification de la boite mail {{Data.modele['imap'].index_boite+1}}/{{Data.modele['imap'].nb_boites}} <b>{{Data.modeleSrv.config.config.mailing.expediteurs.value[Data.modele['imap'].index_boite].email.value}}</b> : {{Data.modele['imap'].pourcentage}}% -> {{Data.modele['imap'].nb}} mail(s) en erreur</p>
		<uib-pagination boundary-links="true" total-items="Data.modele.casquettes_mail_erreur.total" ng-model="pageCourante.erreur" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		<span ng-if="Data.modele.casquettes_mail_erreur.total>0" class="pagination-span">{{itemsParPage*(Data.modele.casquettes_mail_erreur.page-1)+1}} - {{min(itemsParPage*Data.modele.casquettes_mail_erreur.page,Data.modele.casquettes_mail_erreur.total)}} de {{Data.modele.casquettes_mail_erreur.total}}</span>
		<div ng-if="Data.modele.casquettes_mail_erreur.total==0">Aucun résultat</div>
		<ul class="list-group" ng-if="Data.modele.casquettes_mail_erreur.total>0">
			<li class="list-group-item" ng-repeat="c in Data.modele.casquettes_mail_erreur.collection | toArray">
				<a href="modcontact/{{c.id_contact}}" ng-class="{'structure':c.type==2,'contact':c.type==1}"><span ng-if="c.prenom">{{c.prenom}} </span>{{c.nom}}<span ng-if="!(c.prenom || c.nom)">(sans nom)</span></a></span>
			</li>
		</ul>

	</div>	
	<div class="col-sm-12">
		<h1>Impact</h1>
		
		<uib-pagination boundary-links="true" total-items="Data.modele.impacts.total" ng-model="pageCourante.impacts" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		<ul class="list-group" ng-if="Data.modele.impacts.total>0">
			<li class="list-group-item" ng-repeat="clic in Data.modele.impacts.collection | toArray" ng-init="mcas=Data.modele.impacts.cas[clic.id_cas]">
				{{calendar(clic.date)}} - <span class="vert" ng-if="clic.url=='Lu'">E-mail ouvert</span><a ng-if="clic.url!='Lu'" href="{{clic.url}}" target="_blank">{{clic.url}}</a> - <a href="modcontact/{{mcas.id_contact}}" ng-class="{'structure':mcas.type==2,'contact':mcas.type==1}"><span ng-if="mcas.prenom">{{mcas.prenom}} </span>{{mcas.nom}}<span ng-if="!(mcas.prenom || mcas.nom)">(sans nom)</span></a> <small>(<a href='modenvoi/{{clic.id_envoi}}'>{{clic.sujet}}</a> - 
				<a href="modnews/{{clic.id_type}}" ng-if="clic.type=='news'">Newsletter n°{{clic.id_type}}</a><a href="mail/{{clic.id_type}}" ng-if="clic.type=='mail'">E-mail n°{{clic.id_type}}</a>)</small>
			</li>
		</ul>
	</div>	

</div>
