<div class="col-xs-12 col-md-8 col-md-offset-2" loading="key+', '+formkey" data="Data" action="checkAll()">
    <div ng-init="instance=Data.modele[key];"></div>
	<div ng-if="c=(instance.hash && ( Data.modele[formkey].state=='open' || Data.modele[formkey].state=='scheduled' && Data.modele[formkey].from_date<now && Data.modele[formkey].to_date>now))">
        <div loading="contactkey" data="Data">
            <p>&nbsp;</p>
            <p><strong>{{Data.modele[formkey].nom}}</strong>
            (<span class="cursor">{{Data.modele[contactkey].casquettes[idcas].prenom}} {{Data.modele[contactkey].casquettes[idcas].nom}}</span>)</p>
            <hr />
        </div>
        <div ng-bind-html="trust(Data.modele[formkey].schema.descriptif)"></div>
        <div>
            <p>
                <button class="btn btn-primary" ng-click="save()" ng-disabled="ko=!canSave()">Enregistrer</button>
            </p>
        </div>
        <div ng-if="Data.modele[formkey].schema.pages.length>1">
            <uib-tabset>
                <uib-tab ng-repeat="page in Data.modele[formkey].schema.pages">
                    <uib-tab-heading>
                        Page {{$index+1}}
                    </uib-tab-heading>
                    <div>
                        <p>&nbsp;</p>
                        <div class="list-group" >
                            <div ng-repeat="elt in page.elts" class="list-group-item" ng-show="!elt.condition || instance.collection[elt.condition.id].valeur==elt.condition.valeur">
                                <ng-include ng-init="p={elt:elt,collection:instance.collection,hash:instance.hash}" src="'partials/inc/showformelts/'+elt.type+'.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            <uib-tabset>
        </div>
        <div ng-if="Data.modele[formkey].schema.pages.length==1">
            <div class="list-group" ng-repeat="page in Data.modele[formkey].schema.pages">
                <div ng-repeat="elt in page.elts" class="list-group-item" ng-show="!elt.condition || instance.collection[elt.condition.id].valeur==elt.condition.valeur">
                    <ng-include ng-init="p={elt:elt,collection:instance.collection,hash:instance.hash}" src="'partials/inc/showformelts/'+elt.type+'.html'"></ng-include>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div>
            <p>
                <button class="btn btn-primary" ng-click="save()" ng-disabled="ko">Enregistrer</button>
            </p>
        </div>
    </div>
    <div id="form-container" ng-if="!c">
        La page n'existe pas...
    </div>
</div>
