<div class="col-xs-12 col-md-8 col-md-offset-2" loading="key+', '+formkey" data="Data" action="checkAll();instance=Data.modele[key][currenthash];form=Data.modele[formkey];">
    <div ng-if="c=(instance.hash && ( form.state=='open' || form.state=='scheduled' && form.from_date<now && form.to_date>now))">
        <div>
            <p>&nbsp;</p>
            <p>
                <strong>{{form.nom}}</strong>
                (<span class="cursor">{{prenom}} {{nom}}</span>)
            </p>
            <p>
                <span ng-if="(Data.modele[key]|toArray).length>1">
                    <a class="btn" ng-class="{'btn-primary':i.hash==currenthash,'btn-default':i.hash!=currenthash}" ng-repeat-start="i in Data.modele[key]|toArray" href="{{Data.modele.config.config.app.url.value}}/form/{{i.hash}}" >{{Data.modele[key][i.hash].collection[form.schema.champ_titre].valeur || 'sans nom'}}<span ng-if="canSave(i.hash)"> *</span></a>
                    <span ng-repeat-end> </span>
                </span>
                <span class="btn btn-primary" ng-click="addInstance()" ng-bind-html="trust(label(form.schema.texte_new_instance || 'Nouvelle instance'))"><span class="glyphicon glyphicon-plus cursor" ></span></span>
            </p>
            <hr />
        </div>
        <ng-include ng-if="public_header!=''" src="public_header"></ng-include>
        <div ng-bind-html="trust(form.schema.descriptif)"></div>
        <div ng-if="instance.state=='open'">
            <p>
                <button class="btn btn-primary" ng-click="save(currenthash)" ng-disabled="ko=!canSave(currenthash)" ng-bind-html="trust(label(form.schema.texte_save || 'Enregistrer'))"></button>
                <button class="btn btn-primary" ng-click="validate(currenthash)" ng-disabled="!canValidate(currenthash)" ng-bind-html="trust(label(form.schema.texte_validate || 'Valider'))"></button>
                <button class="btn btn-default" ng-confirm-click="delFormInstance(currenthash)" ng-confirm-message="{{form.schema.texte_del_instance || 'Supprimer cette instance'}} ({{Data.modele[key][currenthash].collection[form.schema.champ_titre].valeur || 'sans nom'}}) ?"><span class="glyphicon glyphicon-trash cursor"></span> <span ng-bind-html="trust(label(form.schema.texte_del_instance || 'Supprimer cette instance'))"></span></button>
            </p>
        </div>
        <div ng-if="instance.state=='open' && form.schema.pages.length>1">
            <uib-tabset>
                <uib-tab ng-repeat="page in form.schema.pages">
                    <uib-tab-heading>
                        {{page.nom || 'Page '+($index+1)}}
                    </uib-tab-heading>
                    <div>
                        <p>&nbsp;</p>
                        <div class="list-group row">
                            <div ng-repeat="elt in page.elts" class="list-group-item" ng-show="!elt.condition || instance.collection[elt.condition.id].valeur.split(',').indexOf(elt.condition.valeur)>=0">
                                <ng-include ng-init="p={elt:elt,collection:instance.collection,hash:instance.hash}" src="'partials/inc/showformelts/'+elt.type+'.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            <uib-tabset>
        </div>
        <div ng-if="instance.state=='open' && form.schema.pages.length==1">
            <div class="list-group row" ng-repeat="page in form.schema.pages">
                <div ng-repeat="elt in page.elts" class="list-group-item" ng-show="!elt.condition || instance.collection[elt.condition.id].valeur.split(',').indexOf(elt.condition.valeur)>=0">
                    <ng-include ng-init="p={elt:elt,collection:instance.collection,hash:instance.hash}" src="'partials/inc/showformelts/'+elt.type+'.html'"></ng-include>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div ng-if="instance.state=='open'">
            <p>
                <button class="btn btn-primary" ng-click="save(currenthash)" ng-disabled="ko">Enregistrer</button>
            </p>
        </div>
    </div>
    <div ng-if="instance.state=='closed'">
        <h3 style="text-align:center;">{{form.schema.instance_closed || 'Votre demande a bien été envoyée !'}}</h3>
        <div ng-if="form.schema.pages.length>1">
            <uib-tabset>
                <uib-tab ng-repeat="page in form.schema.pages">
                    <uib-tab-heading>
                        {{page.nom || 'Page '+($index+1)}}
                    </uib-tab-heading>
                    <div>
                        <p>&nbsp;</p>
                        <div class="list-group row">
                            <div ng-repeat="elt in page.elts" class="list-group-item" ng-show="!elt.condition || instance.collection[elt.condition.id].valeur.split(',').indexOf(elt.condition.valeur)>=0">
                                <ng-include ng-init="p={elt:elt,collection:instance.collection,hash:instance.hash}" src="'partials/inc/roformelts/'+elt.type+'.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            <uib-tabset>
        </div>
        <div ng-if="form.schema.pages.length==1">
            <div class="list-group row" ng-repeat="page in form.schema.pages">
                <div ng-repeat="elt in page.elts" class="list-group-item" ng-show="!elt.condition || instance.collection[elt.condition.id].valeur.split(',').indexOf(elt.condition.valeur)>=0">
                    <ng-include ng-init="p={elt:elt,collection:instance.collection,hash:instance.hash}" src="'partials/inc/roformelts/'+elt.type+'.html'"></ng-include>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>

    </div>
    <div id="form-container" ng-if="!c">
        La page n'existe pas...
    </div>
</div>
<div class="col-xs-12 col-md-8 col-md-offset-2">
    <hr />
    <ng-include ng-if="public_footer!=''" src="public_footer"></ng-include>
</div>
