<form role="form" name="form.modBloc">
<div class="modal-header bleu">
    <h3>{{Data.modele.modeles[bloc.id_modele].nom | nomModele}}</h3>
    <hr /><button class="btn btn-primary" ng-click="ok()">Enregistrer</button>
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>
<div class="modal-body">
    <div ng-repeat="donnee in bloc.donnees">
        <ng-include ng-if="donnee.type!='liste'" src="'partials/inc/mod_bloc_form.html'"></ng-include>
        <div ng-if="donnee.type=='liste'" ng-include="'partials/inc/mod_bloc_liste.html'"></div>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Enregistrer</button>
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>
</form>
