<form name="frm" class="col-xs-12 col-sm-6 col-sm-offset-3" loading="key" data="Data">
	<locked key="key" data="Data">
	<div class="col-xs-12">
    	<h3 class="cursor individu">{{Data.modele[key].nom}}</h3>
		<p> <span class="mini">Création : {{calendar(Data.modele[key].creationdate)}} par {{Data.modele.users[Data.modele[key].createdby].name}}, modification : {{calendar(Data.modele[key].modificationdate)}} par {{Data.modele.users[Data.modele[key].modifiedby].name}}.</span>
		    <span class="pull-right mini" ng-show="p">Enregistré</span>
		    <span class="pull-right mini" ng-show="!p">Non enregistré</span>
		</p>
	    <p>
			<button class="btn btn-primary" ng-click="save()" ng-disabled="p=pristine(key)">Enregistrer</button>
			<button class="btn btn-primary" ng-click="addPage()">Ajouter une page</button>
			<button class="btn btn-default" ng-click="associer()">Associer aux contacts</button>
		</p>
	</div>
	<div class="col-xs-12">
		<p></p>
		<uib-tabset>
			<uib-tab heading="Formulaire">
				<p>
					<label>Nom</label>
					<input placeholder="Nom" ng-model="Data.modele[key].nom" class="form-control" type="text"/>
				</p>
				<label>Descriptif</label>
				<ng-ckeditor ng-if="editorOk" ng-config="editorOptions" name="descriptif" ng-model="Data.modele[key].schema.descriptif"></ng-ckeditor>
				<p>&nbsp;</p>
			</uib-tab>
			<uib-tab ng-repeat="p in Data.modele[key].schema.pages">
				<uib-tab-heading>
					Page {{$index+1}}
				</uib-tab-heading>
				<div style="position:relative;">
					<div class="mini-menu">
						<span class="glyphicon glyphicon-trash cursor" ng-confirm-click="delPage(p)" ng-confirm-message="Sûr?"></span>
					</div>
					<p style="padding-top:15px;">
						<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'texte_court','Texte court')"><span class="glyphicon glyphicon-plus"> </span> Texte court</span>
						<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'texte_long','Texte long')"><span class="glyphicon glyphicon-plus"> </span> Texte long</span>
						<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'date','Date')"><span class="glyphicon glyphicon-plus"> </span> Date</span>
						<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'multiples','Choix multiples')"><span class="glyphicon glyphicon-plus"> </span> Choix multiples</span>
						<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'checkbox','Case à cocher')"><span class="glyphicon glyphicon-plus"> </span> Case à cocher</span>
						<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'titre','Titre')"><span class="glyphicon glyphicon-plus"> </span> Titre</span>
						<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'texte','Texte informatif')"><span class="glyphicon glyphicon-plus"> </span> Texte informatif</span>
					</p>
					<div class="list-group">
						<div ng-repeat="elt in p.elts" class="list-group-item"
							ui-on-drop="drop($event,$data,$index,$channel,p.elts)"
							drop-channel="listorder"
							drop-validate="validate($data,p.id)">
							<div class="mini-menu">
								<span class="glyphicon glyphicon-trash cursor" ng-confirm-click="delElt(p,elt)" ng-confirm-message="Sûr?"></span>
							</div>
							<div class="small gris"
								ui-draggable="true"
								drag="{idx:$index+1,listid:p.id}"
								drag-channel="listorder">
								<span class="glyphicon glyphicon-option-vertical"></span> {{elt.nom}}

							</div>
							<ng-include src="'partials/inc/formelts/'+elt.type+'.html'"></ng-include>
						</div>
					</div>
				</div>
			</uib-tab>
			<uib-tab heading="Contacts">
				<div ng-show="Data.modele['form_casquettes/'+id_form].tout.collection.length>0">
					<h1>Tout</h1>
					<uib-pagination ng-if="Data.modele['form_casquettes/'+id_form].tout.total>itemsParPage" boundary-links="true" total-items="Data.modele['form_casquettes/'+id_form].tout.total" ng-model="Data.pageForms[id_form].tout" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
					<span ng-if="Data.modele['form_casquettes/'+id_form].tout.total>itemsParPage" class="pagination-span">{{itemsParPage*(Data.modele['form_casquettes/'+id_form].tout.page-1)+1}} - {{min(itemsParPage*Data.modele['form_casquettes/'+id_form].tout.page,Data.modele['form_casquettes/'+id_form].tout.total)}} de {{Data.modele['form_casquettes/'+id_form].tout.total}}</span>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="cas in Data.modele['form_casquettes/'+id_form].tout.collection">
			                <a href="showform/{{id_form}}/{{cas.id}}">
								<span ng-show="cas.prenom">{{cas.prenom}} </span>{{cas.nom}} <span class="mini" ng-if="!(cas.nom || cas.prenom)">(sans nom)</span>
							</a>
						</li>
					</ul>
				</div>
			</uib-tab>

		<uib-tabset>
	</div>
    </locked>
</form>
