<form name="frm" class="col-xs-12 col-sm-6 col-sm-offset-3" loading="key" data="Data">
	<locked key="key" data="Data">
	<div class="col-xs-12">
    	<h3 class="cursor individu">{{Data.modele[key].nom}}</h3>
		<p> <span class="mini">Création : {{calendar(Data.modele[key].creationdate)}} par {{Data.modele.users[Data.modele[key].createdby].name}}, modification : {{calendar(Data.modele[key].modificationdate)}} par {{Data.modele.users[Data.modele[key].modifiedby].name}}.</span>
		    <span class="pull-right mini" ng-show="p">Enregistré</span>
		    <span class="pull-right mini" ng-show="!p">Non enregistré</span>
		</p>
		<p>
            <a href="{{Data.modele.config.config.app.url.value}}/formulaire.php?id={{Data.modele[key].id}}" target="_blank">{{Data.modele.config.config.app.url.value}}/formulaire.php?id={{Data.modele[key].id}}</a>
        </p>
	    <p>
			<button class="btn btn-primary" ng-click="save()" ng-disabled="p=pristine(key)">Enregistrer</button>
			<button class="btn btn-primary" ng-click="addPage()">Ajouter une page</button>
			<button class="btn btn-default" ng-click="associer()">Associer aux contacts</button>
		</p>
	</div>
	<div class="col-xs-12">
		<p></p>
		<uib-tabset>
			<uib-tab heading="Formulaire">
				<p>
					<label>Nom</label>
					<input placeholder="Nom" ng-model="Data.modele[key].nom" class="form-control" type="text"/>
				</p>
				<p>
					<label>État</label>
				</p>
				<div class="btn-group">
			        <label class="btn btn-primary" ng-model="Data.modele[key].state" uib-btn-radio="'open'">Ouvert</label>
			        <label class="btn btn-primary" ng-model="Data.modele[key].state" uib-btn-radio="'closed'">Fermé</label>
			        <label class="btn btn-primary" ng-model="Data.modele[key].state" uib-btn-radio="'scheduled'">Planifié</label>
			    </div>
				<div class="row" ng-if="Data.modele[key].state=='scheduled'">
					<div class="col-xs-6">
						<label>Date d'ouverture</label>
						<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="Data.modele[key].from_date" ng-required="true" is-open="popup1.opened" ng-click="popup1.opened=true"/>
					</div>
					<div class="col-xs-6">
						<label>Date de fermeture</label>
						<input type="text" class="form-control" uib-datepicker-popup="dd/MM/yyyy" ng-model="Data.modele[key].to_date" ng-change="checkDates()" ng-required="true" is-open="popup2.opened" ng-click="popup2.opened=true"/>
					</div>
				</div>
				<p>&nbsp;</p>
				<label>Descriptif</label><br />
				<ng-ckeditor ng-if="editorOk" ng-config="editorOptions" name="descriptif" ng-model="Data.modele[key].schema.descriptif"></ng-ckeditor>
				<p>&nbsp;</p>
				<label>Champ titre</label>
				<select class="form-control" ng-options="e.id as e.label for e in Data.modele[key].schema.pages[0].elts | filter:{type:'texte_court'}" ng-model="Data.modele[key].schema.champ_titre"></select>
				<p>&nbsp;</p>
				<label>Texte du bouton enregistrer</label>
				<input class="form-control" placeholder="Texte du bouton enregistrer" type="text" ng-model="Data.modele[key].schema.texte_save"/>
				<p>&nbsp;</p>
				<label>Texte du bouton valider</label>
				<input class="form-control" placeholder="Texte du bouton valider" type="text" ng-model="Data.modele[key].schema.texte_validate"/>
				<p>&nbsp;</p>
				<label>Message instance validée</label>
				<input class="form-control" placeholder="Message instance validée" type="text" ng-model="Data.modele[key].schema.instance_closed"/>
				<p>&nbsp;</p>
				<label>Texte du bouton qui permet d'ajouter une instance</label>
				<input class="form-control" placeholder="Texte du bouton qui permet d'ajouter une instance" type="text" ng-model="Data.modele[key].schema.texte_new_instance"/>
				<p>&nbsp;</p>
				<label>Texte du bouton qui permet de supprimer une instance</label>
				<input class="form-control" placeholder="Texte du bouton qui permet de supprimer une instance" type="text" ng-model="Data.modele[key].schema.texte_del_instance"/>
				<p>&nbsp;</p>
				<label>Contenu du mail de confirmation</label><br />
				<textarea class="form-control" style="height:200px;" ng-if="editorOk" ng-config="editorOptions" name="descriptif" ng-model="Data.modele[key].schema.mail_body_confirm"></textarea>
				<p>&nbsp;</p>
				<label>Contenu du mail d'inscription</label><br />
				<textarea class="form-control" style="height:200px;" ng-if="editorOk" ng-config="editorOptions" name="descriptif" ng-model="Data.modele[key].schema.mail_body"></textarea>
				<p>&nbsp;</p>
				<label>Texte de la page d'inscription</label><br />
				<ng-ckeditor ng-if="editorOk" ng-config="editorOptions" name="descriptif" ng-model="Data.modele[key].schema.home_body"></ng-ckeditor>
				<p>&nbsp;</p>
				<label>Texte du bouton d'inscription</label>
				<input class="form-control" placeholder="Texte du bouton d'inscription" type="text" ng-model="Data.modele[key].schema.home_btn"/>
				<p>&nbsp;</p>
				<label>Message e-mail manquant</label>
				<input class="form-control" placeholder="Message e-mail manquant" type="text" ng-model="Data.modele[key].schema.msg_email_missing"/>
				<p>&nbsp;</p>
				<label>Message e-mail non valide</label>
				<input class="form-control" placeholder="Message e-mail non valide" type="text" ng-model="Data.modele[key].schema.msg_email_invalid"/>
				<p>&nbsp;</p>
				<label>Message lien de l'instance envoyé</label>
				<input class="form-control" placeholder="Message lien de l'instance envoyé" type="text" ng-model="Data.modele[key].schema.msg_link_sent"/>
				<p>&nbsp;</p>
				<label>Message mail de confirmation envoyé</label>
				<input class="form-control" placeholder="Message mail de confirmation envoyé" type="text" ng-model="Data.modele[key].schema.msg_confirm_sent"/>
				<p>&nbsp;</p>
			</uib-tab>
			<uib-tab ng-repeat="p in Data.modele[key].schema.pages" ng-init="pageIndex=$index">
				<uib-tab-heading>
					<span ui-on-drop="dropOnPage($event,$data,$index,$channel,p.elts)"
							drop-channel="elt"
							drop-validate="validatePage($data,p.id)">{{p.nom || 'Page '+($index+1)}}</span> <span class="glyphicon glyphicon-pencil cursor" style="font-size:0.7em;" ng-click="modNomPage(p)"></span>
				</uib-tab-heading>
				<div style="position:relative;">
					<div class="mini-menu">
						<span class="glyphicon glyphicon-trash cursor" ng-confirm-click="delPage(p)" ng-confirm-message="Sûr?"></span>
					</div>
					<p style="padding-top:15px;">
					<ng-include src="'partials/inc/formeltbtns.html'"></ng-include>
					</p>
					<div class="list-group">
						<div ng-repeat="elt in p.elts" class="list-group-item pad-bottom"
							ui-on-drop="dropOnElt($event,$data,$index,$channel,p.elts)"
							drop-channel="elt"
							drop-validate="validate($data,p.id)">
							<div class="mini-menu">
								<span class="glyphicon glyphicon-trash cursor" ng-confirm-click="delElt(p,elt)" ng-confirm-message="Sûr?"></span>
							</div>
							<div class="small gris"
								ui-draggable="true"
								drag="{idx:$index+1,listid:p.id}"
								drag-channel="elt">
								<span class="glyphicon glyphicon-option-vertical"></span> {{elt.nom}}

							</div>
							<ng-include src="'partials/inc/formelts/'+elt.type+'.html'"></ng-include>
							<p><span ng-if="!elt.condition" class="pull-right cursor mini" ng-click="addConditionMod(elt,p.elts)">
								<span>ajouter une condition</span>
							</span><span ng-if="elt.condition" class="pull-right cursor mini" ng-click="delCondition(elt)">
								<span>Supprimer la condition ({{byId(p.elts,elt.condition.id).label}} = {{elt.condition.valeur}})</span>
							</span></p>
							<div class='bas-droite'><span class="mini">#{{currentIndex($index,pageIndex)}}</span></div>
						</div>
					</div>
					<p><ng-include src="'partials/inc/formeltbtns.html'"></ng-include></p>
				</div>
			</uib-tab>
			<uib-tab heading="Instances">
				<p>&nbsp;</p>
				<div ng-show="Data.modele['form_instances_form/'+id_form].tout.collection.length>0">
				<uib-tabset>
					<uib-tab heading="Tout">
						<span ng-if="Data.modele['form_instances_form/'+id_form].tout.total>itemsParPage" class="pagination-span">{{itemsParPage*(Data.pageForms[id_form].tout-1)+1}} - {{min(itemsParPage*Data.pageForms[id_form].tout,Data.modele['form_instances_form/'+id_form].tout.total)}} de {{Data.modele['form_instances_form/'+id_form].tout.total}}</span>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="instance in Data.modele['form_instances_form/'+id_form].tout.collection">
				                <a href="showform/{{instance.hash}}" ng-class="{'individu':instance.type==1, 'structure':instance.type==2}">
									<span ng-show="instance.prenom">{{instance.prenom}} </span>{{instance.nom}} <span class="mini" ng-if="!(instance.nom || instance.prenom)">(sans nom)</span>
									<span class="glyphicon glyphicon-ok" ng-if="instance.state=='closed'"></span>
								</a>
							</li>
						</ul>
					</uib-tab>
					<uib-tab heading="Ok">
						<uib-pagination ng-if="Data.modele['form_instances_form/'+id_form].ok.total>itemsParPage" boundary-links="true" total-items="Data.modele['form_instances_form/'+id_form].ok.total" ng-model="Data.pageForms[id_form].ok" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
						<span ng-if="Data.modele['form_instances_form/'+id_form].ok.total>itemsParPage" class="pagination-span">{{itemsParPage*(Data.pageForms[id_form].ok-1)+1}} - {{min(itemsParPage*Data.pageForms[id_form].ok,Data.modele['form_instances_form/'+id_form].ok.total)}} de {{Data.modele['form_instances_form/'+id_form].ok.total}}</span>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="instance in Data.modele['form_instances_form/'+id_form].ok.collection">
				                <a href="showform/{{instance.hash}}" ng-class="{'individu':instance.type==1, 'structure':instance.type==2}">
									<span ng-show="instance.prenom">{{instance.prenom}} </span>{{instance.nom}} <span class="mini" ng-if="!(instance.nom || instance.prenom)">(sans nom)</span>
									<span class="glyphicon glyphicon-ok" ng-if="instance.state=='closed'"></span>
								</a>
							</li>
						</ul>
					</uib-tab>
					<uib-tab heading="En cours">
						<uib-pagination ng-if="Data.modele['form_instances_form/'+id_form].encours.total>itemsParPage" boundary-links="true" total-items="Data.modele['form_instances_form/'+id_form].encours.total" ng-model="Data.pageForms[id_form].encours" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
						<span ng-if="Data.modele['form_instances_form/'+id_form].encours.total>itemsParPage" class="pagination-span">{{itemsParPage*(Data.pageForms[id_form].encours-1)+1}} - {{min(itemsParPage*Data.pageForms[id_form].encours,Data.modele['form_instances_form/'+id_form].encours.total)}} de {{Data.modele['form_instances_form/'+id_form].encours.total}}</span>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="instance in Data.modele['form_instances_form/'+id_form].encours.collection">
				                <a href="showform/{{instance.hash}}" ng-class="{'individu':instance.type==1, 'structure':instance.type==2}">
									<span ng-show="instance.prenom">{{instance.prenom}} </span>{{instance.nom}} <span class="mini" ng-if="!(instance.nom || instance.prenom)">(sans nom)</span>
									<span class="glyphicon glyphicon-ok" ng-if="instance.state=='closed'"></span>
								</a>
							</li>
						</ul>
					</uib-tab>
				</div>
			</uib-tab>
			<uib-tab heading="Documents">
				<p>&nbsp;</p>
				<p>
						<button class="btn btn-primary" ng-click="generateDocs()" >Générer les docs <span class="glyphicon glyphicon-refresh" ng-show="!docsUpToDate()"></span></button>
				</p>
				<p ng-if="Data.modele[key].docs.length>0">
					<span ng-repeat="doc in Data.modele[key].docs"><a href="{{doc.path}}?{{doc.modificationdate}}" target="_blank">{{doc.nom}}</a><br /></span>
				</p>
			</uib-tab>
		<uib-tabset>
	</div>
	<div class="col-xs-12">
	    <p>
			<button class="btn btn-primary" ng-click="save()" ng-disabled="p=pristine(key)">Enregistrer</button>
		</p>
	</div>
    </locked>
</form>
