<div loading="key" data="Data">
	<div class="col-xs-12 col-md-8 col-lg-9" id="news-Parent">
		<form>
		<p><button class="btn btn-default" ng-click="envoyer()">Envoyer à</button> <button class="btn btn-default" ng-click="pdf()">PDF</button> <button class="btn btn-primary" ng-click="unpublie()" ng-if="p=(Data.modele[key].publie==1)">Publié</button><button class="btn btn-default" ng-click="publie()" ng-if="!p">Non publié</button> <button class="btn btn-default" ng-click="modNewsletterMod()"><span ng-if="n= Data.modele[key].id_newsletter==-1 || !Data.modele[key].id_newsletter">Aucune newletter associée</span><span ng-if="!n">{{Data.modele.config.config.news.newsletters.value[Data.modele[key].id_newsletter].nom.value}}</span></button></p>
			<locked key="key" data="Data">
				<p>
					<h3 ng-click="modSujetMod()" class="cursor individu">{{Data.modele[key].sujet}}</h3>
					<a ng-if="p" href="{{Data.modele.config.config.app.url.value}}/news.php?id={{Data.modele[key].id}}" target="_blank">voir en ligne</a>
				</p>
			</locked>
			<p>
				<span class="mini">Création : {{calendar(Data.modele[key].creationdate)}} par {{Data.modele.users[Data.modele[key].createdby].name}}, modification : {{calendar(Data.modele[key].modificationdate)}} par {{Data.modele.users[Data.modele[key].modifiedby].name}}.</span>
				<span class="pull-right mini" ng-if="Data.modele[prevNextKey][3]">{{Data.modele[prevNextKey][2]}} de {{Data.modele[prevNextKey][3]}}</span>
			</p>

		</form>
		<div class="news" id="news-container" ng-style="{'background-image':Data.modele[key].background_img ? 'url('+Data.modele[key].background_img+')' : 'none', 'background-position': 'top','background-repeat':'repeat-y', 'background-color': Data.modele[key].background_color}">
			<style scoped ng-bind-html="trust(Data.modele.config.config.news.css.value)"></style>
			<div class="news-empty" ng-if="Data.modele[key].blocs.length==0" ui-on-Drop="addBloc($event,$data,0)" drop-channel="bloc">
				Glisser les blocs ici...
			</div>
			<div id="bloc-{{bloc.id}}" ui-on-drop="drop($event,$data,$index,$channel)" drop-channel="order,bloc" ui-draggable="true" drag="$index+1" drag-channel="order" class="bloc" ng-repeat="bloc in Data.modele[key].blocs" ng-class="{'pair':$index%2==0, 'impair':$index%2==1}">
				<locked key="'newsbloc/'+Data.modele[key].id+'/'+bloc.id" data="Data">
				<div class='menuBloc' >
					<p><span ng-click="modBlocMod(bloc)" class='glyphicon glyphicon-pencil cursor'></span></p>
					<p><span ng-confirm-click="delBloc($index)"  ng-confirm-message="Sûr?" class='glyphicon glyphicon-trash cursor'></span></p>
					<p><span ng-show="!mini.bool" ng-click="mini.bool=!mini.bool" class='glyphicon glyphicon-resize-small cursor'></span></p>
					<p><span ng-show="mini.bool" ng-click="mini.bool=!mini.bool" class='glyphicon glyphicon-resize-full cursor'></span></p>
				</div>
				<div class='nBloc'>#{{$index}}</div>
				<div class="yui3-cssreset yui3-cssbase bloc-item" ng-dblclick="modBlocMod(bloc)" ng-class="{'minis':mini.bool}" ng-bind-html="trust(bloc.html)"></div>
				</locked>
			</div>
			<div class="news-last" ui-on-Drop="drop($event,$data,Data.modele[key].blocs.length,$channel)" drop-channel="bloc,order"></div>
		</div>
	</div>
	<div class="col-xs-12 col-md-4 col-lg-3 hidden-xs hidden-sm fixed">
		<p>&nbsp;</p>
		<uib-tabset>
		<uib-tab heading="Modèles" active="tabs.news.modeles">
			<p>&nbsp;</p>
			<p><span class="btn btn-primary"ng-click="addModeleMod()">Nouveau modèle</span></p>
			<uib-tabset>
				<uib-tab ng-repeat="nomCat in modCats" active="tabs.news['cat/'+$index]">
					<uib-tab-heading>
						{{nomCat.label}} <span ng-if="nomCat.nom!='Sans thème'" class="glyphicon glyphicon-pencil cursor" style="font-size:0.7em;" ng-click="modNomCat(nomCat.nom)"></span>
					</uib-tab-heading>
					<ul class="list-group">
						<li class="list-group-item" ng-repeat="modele in Data.modele.modeles | exists | nomCat:nomCat.nom | orderBy:'nom'" ui-draggable="true" drag="modele" drag-channel="bloc">
							<locked key="'modele/'+modele.id" data="Data">
							<div class="mini-menu">
								<span ng-if="!modele.used" class="glyphicon glyphicon-trash cursor" ng-confirm-click="delModele(modele)" ng-confirm-message="Sûr?"></span>
							</div>
							<a href="modmodele/{{modele.id}}"><span ng-if="modele.nom">{{modele.nom|nomModele}}</span><span ng-if="!modele.nom">(sans nom)</span></a>
							</locked>
						</li>
					</ul>
				</uib-tab>
			</uib-tabset>
		</uib-tab>
		<uib-tab heading="Fichiers" active="tabs.news.fichiers">
			<ul class="list-group">
				<li ng-if="Data.modele[key].pjs.length==0" class="list-group-item">Aucun fichier</li>
				<li class="list-group-item" ng-repeat="pj in Data.modele[key].pjs"><a href="{{pj.path}}" target="_blank">{{pj.filename}}</a>
					<button ng-if="!pj.used" ng-confirm-click="delPj(pj)" ng-confirm-message="Sûr ?" class='btn btn-default btn-xs pull-right'>x</button>
				</li>
			</ul>
				<div ng-show="uploaders[key].queue.length>0 && uploaders[key].progress<100">
						<div>
							<div class="progress" style="">
								<div class="progress-bar" role="progressbar" ng-style="{ 'width': uploaders[key].progress + '%' }"></div>
							</div>
						</div>
					</div>

			<div ng-show="uploaders[key].isHTML5">
				<div class="well my-drop-zone" nv-file-over="" uploader="uploaders[key]" nv-file-drop="">
					Déposer les fichiers ici
				</div>
			</div>
			<input type="file" nv-file-select uploader="uploaders[key]" multiple/>
		</uib-tab>
		<uib-tab heading="Background" active="tabs.news.background">
			<p>&nbsp;</p>
			<p>
			<label>Couleur de fond</label>
			<span class="btn-group" ng-if="!Data.modele[key].background_color || Data.modele[key].background_color==''" ng-click="Data.modele[key].background_color='#FFFFFF';save();">
			    <label class="btn btn-default">Oui</label>
			    <label class="btn btn-primary" >Non</label>
			</span>
			<span class="btn-group" ng-if="Data.modele[key].background_color && Data.modele[key].background_color!=''" ng-click="Data.modele[key].background_color='';save();">
			    <label class="btn btn-primary">Oui</label>
			    <label class="btn btn-default">Non</label>
			</span>
			</p>
			<p ng-if="Data.modele[key].background_color && Data.modele[key].background_color!=''">
				<input class="form-control autoFocus" type="color" ng-model="Data.modele[key].background_color" ng-change="save()" ng-model-options="{ debounce: 1000 }"/>
			</p>
			<label>Image de fond</label>
			<select class="form-control autoFocus" ng-change="save()" ng-options="pj.path as pj.filename for pj in Data.modele[key].pjs | image" ng-model="Data.modele[key].background_img" ng-model-options="{ debounce: 1000 }">
				<option value="">Aucune</option>
			</select>
		</uib-tab>
	</uib-tabset>
	</div>
</div>
