<form role="form" name="form.modTag">
<div class="modal-body">
	<p>
		<label>
			<span class="individu">Couleur</span>
		</label>
		<input class="form-control autoFocus" type="color" ng-model="modTag.color" required/>
		<label>
			<span class="individu">Nom du tag</span>
		</label>
		<input class="form-control autoFocus" type="text" ng-model="modTag.nom" required/>
	</p>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" ng-click="ok()">{{bouton}}</button>
	<button class="btn btn-warning" ng-click="cancel()">Annuler</button>
	<hr />
	<div ng-if="Data.modele.tags[modTag.id].id_parent!=0">
		Ce tag est classé dans <span class="cursor" ng-include="'partials/inc/tag.html'" ng-repeat="id in [Data.modele.tags[modTag.id].id_parent]"></span> <br /><span class="mini"><span class="cursor" ng-click="assTag(tag)">Changer</span> | <span class="cursor" ng-click="movTag(modTag,{id:0,id_parent:0})">Mettre à la racine</span></span>
	</div>
	<div ng-if="Data.modele.tags[modTag.id].id_parent==0">
		Ce tag est à la racine. <br /><span class="cursor mini" ng-click="assTag(tag)">Classer</span>
	</div>
</div>
</form>

