<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
	<h3>login : {{modUser.login}}</h3>
	<form role="form" class="new" autocomplete="off">
		<label>Nom</label>
		<input class="form-control" type="text" ng-model="modUser.name" required autocomplete="off"/><br />
		<label>Mot de passe :</label>
		<p ng-if="modUser.pwd.length<4 && modUser.pwd.length>0">Le mot de passe est trop court.</p>
		<input class="form-control" type="password" ng-model="modUser.pwd" autocomplete="off"/><br />
		<label for="pwdcf">Confirmer le mot de passe :</label>
		<input class="form-control" type="password" ng-model="modUser.pwdcf" autocomplete="off"/><br />
		<button ng-if="modUser.name!='' && (modUser.pwd.length>=4 && modUser.pwd==modUser.pwdcf || !modUser.pwd && !modUser.pwdcf)" class="btn btn-primary"  ng-click="mod()">Modifier mon compte</button>
	</form>
    <h3>Groupes</h3>
    <div>
        <button type="button" ng-if="Data.user.id==1 || (g.users && g.users.indexOf(modUser.id)>=0)" ng-disabled="Data.user.id!=1" ng-repeat-start="g in Data.modele.groups" class="btn" ng-class="{'btn-primary':g.users && g.users.indexOf(modUser.id)>=0,'btn-default':!g.users || g.users.indexOf(modUser.id)<0}" ng-click="toggle_group(g)">{{g.nom}}</button>
        <span ng-repeat-end>&nbsp;</span>
    </div>
</div>

