<div loading="'newss'" data="Data">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3">
		<h1>News</h1>
		<p>
			<span class="btn btn-primary"ng-click="addNewsMod()">Nouvelle Newsletter</span>
			<span> | </span>
			<button type="button" class="btn btn-xs" ng-class="{'btn-primary':filtre.news.id_newsletter==undefined,'btn-default':filtre.news.id_newsletter!=undefined}" ng-click="filtre.news.id_newsletter=undefined">tout</button>
			<span>&nbsp;</span>
			<button type="button" ng-repeat-start="n in Data.modele.config.config.news.newsletters.value" class="btn btn-xs" ng-class="{'btn-primary':filtre.news.id_newsletter==$index,'btn-default':filtre.news.id_newsletter!=$index}" ng-click="filtre.news.id_newsletter=$index">{{n.nom.value}}</button>
			<span ng-repeat-end>&nbsp;</span>
		</p>
		<input type="text" ng-model="filtre.news.sujet" class="form-control" placeholder="filtre"/>
		<uib-pagination boundary-links="true" total-items="newss.length" ng-model="pageCourante.news" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="news in (newss=(Data.modele.newss | toArray | filter:filtre.news | orderBy:'creationdate':true)) | startFrom:(pageCourante.news-1)*itemsParPage | limitTo:itemsParPage">
				<a href="modnews/{{news.id}}">{{news.sujet ? news.sujet : '(sans titre)'}}</a> <span class="mini">{{calendar(news.modificationdate)}} par {{Data.modele.users[news.modifiedby].name}}</span>
				<div class="mini-menu">
					<span class="glyphicon glyphicon-duplicate cursor" ng-confirm-click="dupNews(news)" ng-confirm-message="Sûr?"></span>
					<span class="glyphicon glyphicon-trash cursor" ng-confirm-click="delNews(news)" ng-confirm-message="Sûr?"></span>
				</div>
				<div class='bas-droite'><span class='mini bleu'>{{Data.modele.config.config.news.newsletters.value[news.id_newsletter].nom.value}}</span> <span class="mini">#{{news.id}}</span></div>
			</li>
		</ul>
	</div>
</div>
