<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" loading="key" data="Data" action="checkAll()">
    <div>
        <p>
            <button class="btn btn-primary" ng-click="save()" ng-disabled="p=pristine(key)">Enregistrer</button>
        </p>
    </div>
	<uib-tabset>
        <uib-tab ng-repeat="p in Data.modele[formkey].schema.pages">
            <uib-tab-heading>
                Page {{$index+1}}
            </uib-tab-heading>
            <div>
                <p>&nbsp;</p>
                <div class="list-group">
                    <div ng-repeat="elt in p.elts" class="list-group-item">
                        <span class="mini" ng-if="Data.modele[key][elt.id].modificationdate">({{calendar(Data.modele[key][elt.id].modificationdate)}} par {{Data.modele.usersall[Data.modele[key][elt.id].modifiedby].name}})</span><br />
                        <ng-include src="'partials/inc/showformelts/'+elt.type+'.html'"></ng-include>
                    </div>
                </div>
            </div>
        </uib-tab>
    <uib-tabset>
</div>
