<div class="col-sm-6 col-sm-offset-3" loading="'suivis'" data="Data">	
	<div>
		<span><button type="button" class="btn btn-xs margin-bottom-small" ng-class="{'btn-primary':Data.suivisGroup==0,'btn-default':Data.suivisGroup!=0}" ng-click="Data.suivisGroup=0">tout</button>&nbsp;</span><span ng-if="g.users.indexOf(Data.user.id)>=0 || Data.user.id==1" ng-repeat="g in Data.modele.groups"><button type="button"  class="btn btn-xs margin-bottom-small" ng-class="{'btn-primary':Data.suivisGroup==g.id,'btn-default':Data.suivisGroup!=g.id}" ng-click="Data.suivisGroup=g.id">{{g.nom}}</button>&nbsp;</span>
	</div>
	<div ng-show="suivisProchains.length>0">
		<h1>Prochains jours</h1>
		<uib-pagination ng-if="Data.modele.suivis.collection.prochains.total>itemsParPage" boundary-links="true" total-items="Data.modele.suivis.collection.prochains.total" ng-model="Data.pageSuivisPr" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		<span ng-if="Data.modele.suivis.collection.prochains.total>itemsParPage" class="pagination-span">{{itemsParPage*(Data.modele.suivis.collection.prochains.page-1)+1}} - {{min(itemsParPage*Data.modele.suivis.collection.prochains.page,Data.modele.suivis.collection.prochains.total)}} de {{Data.modele.suivis.collection.prochains.total}}</span>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="suivi in (suivisProchains=(Data.modele.suivis.collection.prochains.suivis | toArray | exists | orderBy:'date':false)) | startFrom:(pageCourante.suivis.prochains-1)*itemsParPage | limitTo:itemsParPage">
                <locked key="'suivi/'+suivi.id" data="Data">
                {{calendarSansHeure(suivi.date)}} <a href="modsuivi/{{suivi.id}}">{{suivi.titre}}<span ng-if="!suivi.titre">(sans-titre)</span></a> > <a href="modcontact/{{suivi.cas.id_contact}}" ng-class="{'structure':suivi.cas.type==2,'contact':suivi.cas.type==1}"><span ng-if="suivi.cas.prenom">{{suivi.cas.prenom}} </span>{{suivi.cas.nom}} <span ng-if="suivi.cas.etab.nom" class="mini">({{suivi.cas.etab.nom}})</span></a> <span class="mini">/ {{suivi.nom_thread}}</span>
                <div class="groups" ng-if="suivi.groups"><span class='bleu' ng-repeat="g in suivi.groups">{{Data.modele.groups[g].nom}}&nbsp;&nbsp;</span></div>
                </locked>
			</li>
		</ul>
	</div>
	<div ng-show="suivisRetard.length>0">
		<h1>En retard</h1>
		<uib-pagination ng-if="Data.modele.suivis.collection.retards.total>itemsParPage" boundary-links="true" total-items="Data.modele.suivis.collection.retards.total" ng-model="Data.pageSuivisRe" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		<span ng-if="Data.modele.suivis.collection.retards.total>itemsParPage" class="pagination-span">{{itemsParPage*(Data.modele.suivis.collection.retards.page-1)+1}} - {{min(itemsParPage*Data.modele.suivis.collection.retards.page,Data.modele.suivis.collection.retards.total)}} de {{Data.modele.suivis.collection.retards.total}}</span>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="suivi in (suivisRetard=(Data.modele.suivis.collection.retards.suivis | toArray | exists | orderBy:'date':false)) | startFrom:(pageCourante.suivis.retard-1)*itemsParPage | limitTo:itemsParPage">
                <locked key="'suivi/'+suivi.id" data="Data">
                {{calendarSansHeure(suivi.date)}} <a href="modsuivi/{{suivi.id}}">{{suivi.titre}}<span ng-if="!suivi.titre">(sans-titre)</span></a> > <a href="modcontact/{{suivi.cas.id_contact}}" ng-class="{'structure':suivi.cas.type==2,'contact':suivi.cas.type==1}"><span ng-if="suivi.cas.prenom">{{suivi.cas.prenom}} </span>{{suivi.cas.nom}} <span ng-if="suivi.cas.etab.nom" class="mini">({{suivi.cas.etab.nom}})</span></a> <span class="mini">/ {{suivi.nom_thread}}</span>
                <div class="groups" ng-if="suivi.groups"><span class='bleu' ng-repeat="g in suivi.groups">{{Data.modele.groups[g].nom}}&nbsp;&nbsp;</span></div>
                </locked>
			</li>
		</ul>
	</div>
	<div ng-show="suivisTermines.length>0">
		<h1>Terminés</h1>
		<uib-pagination ng-if="Data.modele.suivis.collection.termines.total>itemsParPage" boundary-links="true" total-items="Data.modele.suivis.collection.termines.total" ng-model="Data.pageSuivisTe" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		<span ng-if="Data.modele.suivis.collection.retards.total>itemsParPage" class="pagination-span">{{itemsParPage*(Data.modele.suivis.collection.termines.page-1)+1}} - {{min(itemsParPage*Data.modele.suivis.collection.termines.page,Data.modele.suivis.collection.termines.total)}} de {{Data.modele.suivis.collection.termines.total}}</span>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="suivi in (suivisTermines=(Data.modele.suivis.collection.termines.suivis | toArray | exists | orderBy:'date':true)) | startFrom:(pageCourante.suivis.termines-1)*itemsParPage | limitTo:itemsParPage">
				<locked key="'suivi/'+suivi.id" data="Data">
                {{calendarSansHeure(suivi.date)}} <a class="termine" href="modsuivi/{{suivi.id}}">{{suivi.titre}}<span ng-if="!suivi.titre">(sans-titre)</span></a> > <a href="modcontact/{{suivi.cas.id_contact}}" ng-class="{'structure':suivi.cas.type==2,'contact':suivi.cas.type==1}"><span ng-if="suivi.cas.prenom">{{suivi.cas.prenom}} </span>{{suivi.cas.nom}} <span ng-if="suivi.cas.etab.nom" class="mini">({{suivi.cas.etab.nom}})</span></a> <span class="mini">/ {{suivi.nom_thread}}</span>
                <div class="groups" ng-if="suivi.groups"><span class='bleu' ng-repeat="g in suivi.groups">{{Data.modele.groups[g].nom}}&nbsp;&nbsp;</span></div>
                </locked>
			</li>
		</ul>
	</div>

</div>
