<div class="col-sm-6 col-sm-offset-3" loading="'suivis'" data="Data">	
	<div>
		<button type="button" class="btn btn-xs" ng-class="{'btn-primary':filtre.suivis==0,'btn-default':filtre.suivis!=0}" ng-click="filtre.suivis=0">tout</button>
		<span>&nbsp;</span>
		<button type="button" ng-if="g.users.indexOf(Data.user.id)>=0 || Data.user.id==1" ng-repeat-start="g in Data.modele.groups" class="btn btn-xs" ng-class="{'btn-primary':filtre.suivis==g.id,'btn-default':filtre.suivis!=g.id}" ng-click="filtre.suivis=g.id">{{g.nom}}</button>
		<span ng-if="g.users.indexOf(Data.user.id)>=0 || Data.user.id==1" ng-repeat-end>&nbsp;</span>
	</div>
	<div ng-show="suivisProchains.length>0">
		<h1>Prochains jours</h1>
		<uib-pagination ng-if="suivisProchains.length>itemsParPage" boundary-links="true" total-items="suivisProchains.length" ng-model="pageCourante.suivis.prochains" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="suivi in (suivisProchains=(Data.modele.suivis | toArray | exists | hasgroup:filtre.suivis | prochains | orderBy:'date')) | startFrom:(pageCourante.suivis.prochains-1)*itemsParPage | limitTo:itemsParPage">
                <locked verrou="suivi.verrou" data="Data">
                {{calendarSansHeure(suivi.date)}} <a href="modsuivi/{{suivi.id}}">{{suivi.titre}}<span ng-if="!suivi.titre">(sans-titre)</span></a> > <a href="modcontact/{{suivi.cas.id_contact}}" ng-class="{'structure':suivi.cas.type==2,'contact':suivi.cas.type==1}"><span ng-if="suivi.cas.prenom">{{suivi.cas.prenom}} </span>{{suivi.cas.nom}} <span ng-if="suivi.cas.etab.nom" class="mini">({{suivi.cas.etab.nom}})</span></a>
                <div class='bas-droite' ng-if="suivi.groups"><span class='mini bleu' ng-repeat="g in suivi.groups">{{Data.modele.groups[g].nom}} </span></div>
                </locked>
			</li>
		</ul>
	</div>
	<div ng-show="suivisRetard.length>0">
		<h1>En retard</h1>
		<uib-pagination ng-if="suivisRetard.length>itemsParPage" boundary-links="true" total-items="suivisRetard.length" ng-model="pageCourante.suivis.retard" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="suivi in (suivisRetard=(Data.modele.suivis | toArray | exists | hasgroup:filtre.suivis | retard | orderBy:'date':true)) | startFrom:(pageCourante.suivis.retard-1)*itemsParPage | limitTo:itemsParPage">
                <locked verrou="suivi.verrou" data="Data">
                {{calendarSansHeure(suivi.date)}} <a href="modsuivi/{{suivi.id}}">{{suivi.titre}}<span ng-if="!suivi.titre">(sans-titre)</span></a> > <a href="modcontact/{{suivi.cas.id_contact}}" ng-class="{'structure':suivi.cas.type==2,'contact':suivi.cas.type==1}"><span ng-if="suivi.cas.prenom">{{suivi.cas.prenom}} </span>{{suivi.cas.nom}} <span ng-if="suivi.cas.etab.nom" class="mini">({{suivi.cas.etab.nom}})</span></a>
                <div class='bas-droite' ng-if="suivi.groups"><span class='mini bleu' ng-repeat="g in suivi.groups">{{Data.modele.groups[g].nom}} </span></div>
                </locked>
			</li>
		</ul>
	</div>
	<div ng-show="suivisTermines.length>0">
		<h1>Terminés</h1>
		<uib-pagination ng-if="suivisTermines.length>itemsParPage" boundary-links="true" total-items="suivisTermines.length" ng-model="pageCourante.suivis.termines" items-per-page="itemsParPage" max-size="maxSize" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="suivi in (suivisTermines=(Data.modele.suivis | toArray | exists | hasgroup:filtre.suivis | termines | orderBy:'date':true)) | startFrom:(pageCourante.suivis.termines-1)*itemsParPage | limitTo:itemsParPage">
				<locked verrou="suivi.verrou" data="Data">
                {{calendarSansHeure(suivi.date)}} <a class="termine" href="modsuivi/{{suivi.id}}">{{suivi.titre}}<span ng-if="!suivi.titre">(sans-titre)</span></a> > <a href="modcontact/{{suivi.cas.id_contact}}" ng-class="{'structure':suivi.cas.type==2,'contact':suivi.cas.type==1}"><span ng-if="suivi.cas.prenom">{{suivi.cas.prenom}} </span>{{suivi.cas.nom}} <span ng-if="suivi.cas.etab.nom" class="mini">({{suivi.cas.etab.nom}})</span></a>
                <div class='bas-droite' ng-if="suivi.groups"><span class='mini bleu' ng-repeat="g in suivi.groups">{{Data.modele.groups[g].nom}} </span></div>
                </locked>
			</li>
		</ul>
	</div>

</div>
