<label>Label</label>
<input placeholder="Label" ng-model="elt.label" class="form-control" type="text"/>
<label>Nombre maximal de choix autorisés</label>
<input ng-model="elt.nbMax" class="form-control" type="number" ng-init="elt.nbMax = elt.nbMax || 1"/>
<p style="padding-top:15px;">
    <span class="btn btn-xs btn-default cursor" ng-click="addChoixMod(elt)"><span class="glyphicon glyphicon-plus"> </span> Choix</span>
</p>
<div>
    <label class="btn btn-default btn-margin" ng-repeat="choix in elt.choix"
        ui-on-drop="drop($event,$data,$index,$channel,elt.choix)"
        drop-channel="listorder"
        ui-draggable="true"
        drag="{idx:$index+1,listid:elt.id}"
        drag-channel="listorder"
        drop-validate="validate($data,elt.id)">
        {{choix.nom}} ({{choix.valeur}}) <span class="glyphicon glyphicon-pencil cursor" style="font-size:0.7em;" ng-click="modChoixMod(choix)"></span> <span class="glyphicon glyphicon-trash cursor" style="font-size:0.7em;" ng-confirm-click="delChoix(elt,choix)" ng-confirm-message="Sûr?"></span>
    </label>
</div>
<p>&nbsp;</p>
<label>Obligatoire ?</label>
<span ng-model="elt.mandatory" ng-init="elt.mandatory=elt.mandatory || '1'" uib-btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'">
    <span ng-if="elt.mandatory=='1'" class="btn-group"><span class="btn btn-primary">oui</span><span  class="btn btn-default">non</span></span>
    <span ng-if="elt.mandatory=='0'" class="btn-group"><span class="btn btn-default">oui</span><span  class="btn btn-primary">non</span></span>
</span>
