<label>Titre</label>
<input placeholder="Label" ng-model="elt.label" class="form-control" type="text"/>
<label>Taille maximale en Mo</label>
<input placeholder="Taille Maximale" ng-model="elt.maxSize" class="form-control" type="number"/>
<p>&nbsp;</p>
<label>Obligatoire ?</label>
<span ng-model="elt.mandatory" ng-init="elt.mandatory=elt.mandatory || '1'" uib-btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'">
    <span ng-if="elt.mandatory=='1'" class="btn-group"><span class="btn btn-primary">oui</span><span  class="btn btn-default">non</span></span>
    <span ng-if="elt.mandatory=='0'" class="btn-group"><span class="btn btn-default">oui</span><span  class="btn btn-primary">non</span></span>
</span>
