<label ng-bind-html="trust(label(p.elt.label))"></label>
<span ng-model="p.collection[p.elt.id].valeur" uib-btn-checkbox btn-checkbox-true="'1'" btn-checkbox-false="'0'">
    <span ng-if="p.collection[p.elt.id].valeur=='1'" class="btn-group"><span class="btn btn-primary" ng-bind-html="trust(label(p.elt.trueValue || 'oui'))"></span><span  class="btn btn-default" ng-bind-html="trust(label(p.elt.falseValue || 'non'))"></span></span>
    <span ng-if="p.collection[p.elt.id].valeur=='0'" class="btn-group"><span class="btn btn-default" ng-bind-html="trust(label(p.elt.trueValue || 'oui'))"></span><span  class="btn btn-primary" ng-bind-html="trust(label(p.elt.falseValue || 'non'))"></span></span>
</span>
