<label ng-bind-html="trust(label(p.elt.label))"></label><span ng-if="elt.mandatory=='1'"> *</span> <span class="glyphicon glyphicon-ok cursor" ng-if="!isValid[currenthash][elt.id] && done[currenthash][elt.id]"></span>
<div>
    <label class="btn  btn-margin"
        ng-repeat="choix in p.elt.choix" ng-class="{'btn-default':p.collection[p.elt.id].valeur.split(',').indexOf(choix.valeur)<0,'btn-primary':p.collection[p.elt.id].valeur.split(',').indexOf(choix.valeur)>=0}" ng-click="setMultiple(p,choix)" ng-bind-html="trust(label(choix.nom))"></label>
</div>
