<li class="list-group-item cas" ng-if="!vsModele">

</li>
<li class="list-group-item cas" ng-class="{'individu':cas.type==1, 'structure':cas.type==2, 'cas-suivante':!($index==0 || Data.modele.collection[$index-1].id_contact!=cas.id_contact), 'courant':cas.id==courant.id}" ng-repeat="cas in vsData.modele.collection" ng-mouseenter="courant.id = cas.id" ui-on-Drop="addCasTag($event,$data,cas)" drop-channel="tag">
	<div ng-class="{'panier-btn-ko':!dansPanier(cas), 'panier-btn-ok':dansPanier(cas)}" ng-click="dansPanier(cas) ? panierDel(cas) : panierAdd(cas)"></div>
	<div class="col-sm-12 cas">

		<div class="contact-btn cursor" ng-if="$index==0 || Data.modele.collection[$index-1].id_contact!=cas.id_contact">
			<span class="glyphicon glyphicon-trash" ng-confirm-click="delContact(cas)" ng-confirm-message="Sûr?"></span>
		</div>
		<div class="col-sm-3">
			<a href="modcontact/{{cas.id_contact}}" ng-if="$index==0 || Data.modele.collection[$index-1].id_contact!=cas.id_contact"><span ng-show="cas.prenom">{{cas.prenom}} </span>{{cas.nom}} <span class="mini" ng-if="(!cas.prenom && !cas.prenom) || cas.prenom+cas.nom==''">(sans nom)</span></a>
		</div>
		<div class="col-sm-3" style="overflow:hidden;" ng-repeat="d in cas.donnees | limitTo:3">

			<small ng-if="d.type=='tel' || d.type=='email'">
				{{d.value}}
			</small>
			<small ng-if="d.type=='adresse'">
				{{d.value.cp}} {{d.value.ville}}
			</small>
			<smal ng-if="d.type!='tel' && d.type!='email' && d.type!='adresse'">
				<span class="label-contact">{{d.label}} : </span>...
			</small>
		</div>
		<div class="clearfix"></div>
		<div class="col-sm-6">{{parNomTag(cas.tags)}}
			<span class="cursor" ng-include="'partials/inc/tag.html'" ng-repeat="id in parNomTag(cas.tags)" ng-confirm-click="delCasTag(Data.modele.tags[id],cas)" ng-confirm-message="Supprimer ?"></span>
		</div>
		<div  class="col-sm-6">
			<span ng-if="cas.etab" class="structure"><a href="modcontact/{{cas.etab.id_contact}}" class="structure">{{cas.etab.nom}}</a> <small>/ {{cas.etab.nom_cas}}</small></span>
			<span class='individu' ng-show="cas.cols.length>0 && cas.type==2" ng-repeat="c in cas.cols">
				<a href="modcontact/{{c.id_contact}}"><span ng-show="c.prenom!=''">{{c.prenom}} </span>{{c.nom}}</a><span class="mini" ng-if="valeur(c,'fonction')[0].valeur"> {{valeur(c,'fonction')[0].valeur}}</span><span ng-if="!$last">, </span>
			</span>
		</div>
	
	</div>


	<div class="clearfix"></div>
	<span class="mini id" ng-if="cas.id==courant.id">#{{cas.id}}</span>
</li>
