<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'texte_court','Texte court')"><span class="glyphicon glyphicon-plus"> </span> Texte court</span>
<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'texte_long','Texte long')"><span class="glyphicon glyphicon-plus"> </span> Texte long</span>
<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'date','Date')"><span class="glyphicon glyphicon-plus"> </span> Date</span>
<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'multiples','Choix multiples')"><span class="glyphicon glyphicon-plus"> </span> Choix multiples</span>
<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'checkbox','Case à cocher','0')"><span class="glyphicon glyphicon-plus"> </span> Case à cocher</span>
<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'titre','Titre')"><span class="glyphicon glyphicon-plus"> </span> Titre</span>
<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'upload','Fichier',[])"><span class="glyphicon glyphicon-plus"> </span> Fichier</span>
<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'texte','Texte informatif')"><span class="glyphicon glyphicon-plus"> </span> Texte informatif</span>
<span class="btn btn-xs btn-default cursor" ng-click="addElt(p,'tag','Inscription tag','1')"><span class="glyphicon glyphicon-plus"> </span> Inscription tag</span>
