<div class="modal-header">
    <button class="btn btn-warning" ng-click="$close()">Fermer</button>
</div>
<div class="modal-body">
	<h3>Gérer les doublons</h3>
	<h4>La fiche n'est pas un doublon :</h4>
	<p>Le bouton "pas un doublon" permet de signaler que la fiche n'est pas un doublon.</p>
	<h4>Fusionner la fiche :</h4>
	<p>Si la fiche est effectivement un doublon et que vous souhaitez fusionner son contenu avec une autre fiche, déposez-la sur la fiche souhaitée. Ceci va fusionner les données de la fiche :
	<br /> - si une adresse existe déjà, elle ne sera pas remplacée
	<br /> - si une fonction existe déjà, elle ne sera pas remplacée
	<br /> - si la fiche est déjà associée à une structure, elle ne sera pas remplacée
	<br /> - les notes seront fusionnées
	<br /> - les suivis seront fusionnés
	</p>
	<h4>Déplacer la fiche :</h4>
	<p>Si vous souhaitez seulement déplacer la fiche au sein d'un autre contact, maintenez la touche "Ctrl" pendant le glissé/déposé.</p>
	<h4>Supprimer la fiche :</h4>
	<p>Il est possible de supprimer les contacts depuis cette page. Utile par exemple après avoir fusionné avec succes deux fiches.</p>
		
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$close()">Fermer</button>
</div>
