<label>{{donnee.nom}}</label>
<button type="button" ng-click="addSchema(donnee)"
    class="btn btn-default pull-right">
	<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
</button>
<div class="list-group">
<div ng-repeat="item in donnee.valeur" class="list-group-item">
    <div class="array-btn cursor">
        <span class="glyphicon glyphicon-trash" ng-confirm-click="donnee.valeur.splice($index,1)" ng-confirm-message="Sûr?"></span>
    </div>
    <div ng-repeat="donnee in item">
        <ng-include ng-if="donnee.type!='liste'" src="'partials/inc/mod_bloc_form.html'"></ng-include>
        <div ng-if="donnee.type=='liste'" ng-include="'partials/inc/mod_bloc_liste.html'"></div>
    </div>
</div>
</div>
<div class="clearfix inter col-xs-12"></div>
